core/src/main/resources/basic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsdlns="http://wwwinfo.mfcr.cz/ares/xml_doc/wsdl/basic.wsdl" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
 xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
 xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
 xmlns:req="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_orrg/v_1.0.0" 
 xmlns:ans="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_basic/v_1.0.3" 
 xmlns:udt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.3" 
 xmlns:dtt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.5" 
 name="BasicService" targetNamespace="http://wwwinfo.mfcr.cz/ares/xml_doc/wsdl/basic.wsdl">
<documentation>verze: 2009-04-07, Copyright 2008 - 2009 Asseco Czech Republic a.s. Všechna práva vyhrazena</documentation>

<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_orrg/v_1.0.0" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_orrg/v_1.0.0/ares_request_orrg.xsd"/>
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_basic/v_1.0.3" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_basic/v_1.0.3/ares_answer_basic_v_1.0.3.xsd"/>
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.5" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.5/ares_datatypes_v_1.0.5.xsd"/>
</schema>
</types>

<message name="GetHttpSoapBasicRequest">
<part name="Request" element="req:Ares_dotazy"/>
</message>
<message name="GetHttpSoapBasicAnswer">
<part name="Answer" element="ans:Ares_odpovedi"/>
</message>
<message name="GetHttpGetBasicRequest">
<part name="ico" type="udt:ico"/>
<part name="jazyk" type="dtt:jazyk_odkazu"/>					
<part name="ver" type="xsd:string"/>
<part name="xml" type="dtt:vystup_format_xml"/>
<part name="aktivni" type="xsd:boolean"/>
</message>
<message name="GetHttpGetBasicAnswer">
<part name="Answer" element="ans:Ares_odpovedi"/>
</message>
<message name="GetHttpBasicFault">
<part name="Fault" element="ans:Ares_odpovedi"/>
</message>
<portType name="HttpSoapBasic">
<operation name="GetXmlFile">
<documentation>Request/response operace pro získání xml výpisu BASIC přes HTTP ve formátu SOAP</documentation>
<input name="BasicRequest" message="wsdlns:GetHttpSoapBasicRequest"/>
<output name="BasicAnswer" message="wsdlns:GetHttpSoapBasicAnswer"/>
<fault name="BasicFault" message="wsdlns:GetHttpBasicFault"/>
</operation>
</portType>
<portType name="HttpGetBasic">
<operation name="GetXmlFile">
<documentation>Request/response operace pro získání xml výpisu BASIC přes HTTP GET</documentation>
<input name="BasicRequest" message="wsdlns:GetHttpGetBasicRequest"/>
<output name="BasicAnswer" message="wsdlns:GetHttpGetBasicAnswer"/>
<fault name="BasicFault" message="wsdlns:GetHttpBasicFault"/>
</operation>
</portType>
<binding name="HttpSoapBasicBinding" type="wsdlns:HttpSoapBasic">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="GetXmlFile">
<soap:operation soapAction="" style="document"/>
<input name="BasicRequest">
<soap:body use="literal"/>
</input>
<output name="BasicAnswer">
<soap:body use="literal"/>
</output>
<fault name="BasicFault">
<soap:fault name ="BasicFault" use="literal"/>
</fault>
</operation>
</binding>
<binding name="HttpGetBasicBinding" type="wsdlns:HttpGetBasic">
<http:binding verb="GET"/>
<operation name="GetXmlFile">
<http:operation location="/darv_bas.cgi"/>
<input name="BasicRequest">
<http:urlEncoded/>
</input>
<output name="BasicAnswer">
<mime:mimeXml part="Answer"/>
</output>
<fault name="BasicFault">
<mime:mimeXml part="Fault"/>
</fault>
</operation>
</binding>
<service name="BasicService">
<documentation>Služba poskytuje XML výpis Basic ve zkratkách</documentation>
<port name="BasicHttpSoapPort" binding="wsdlns:HttpSoapBasicBinding">
<documentation>Port pro Http Soap rozhraní služby BasicService</documentation>
<soap:address location="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi"/>
</port>
<port name="BasicHttpGetPort" binding="wsdlns:HttpGetBasicBinding">
<documentation>Port pro Http Get rozhraní služby BasicService</documentation>
<http:address location="http://wwwinfo.mfcr.cz/cgi-bin/ares"/>
</port>
</service>
</definitions>
