core/src/main/resources/rzp_1.0.4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsdlns="http://wwwinfo.mfcr.cz/ares/xml_doc/wsdl/rzp_1.0.4.wsdl" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:req="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_rzp/v_1.0.4" 
xmlns:ans="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4" 
xmlns:udt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1" 
xmlns:dtt="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4" 
name="RzpService" targetNamespace="http://wwwinfo.mfcr.cz/ares/xml_doc/wsdl/rzp_1.0.4.wsdl">
<documentation>verze: 2009-04-07, Copyright 2008 - 2009 Asseco Czech Republic a.s. Všechna práva vyhrazena</documentation>

<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_rzp/v_1.0.4" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_request_rzp/v_1.0.4/ares_request_rzp_v_1.0.4.xsd"/>
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_rzp/v_1.0.4/ares_answer_rzp_v_1.0.4.xsd"/>
<import namespace="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4" schemaLocation="http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.4/ares_datatypes_v_1.0.4.xsd"/>	
</schema>
</types>		

<message name="GetHttpSoapRzpRequest">
<part name="Request" element="req:Ares_dotazy"/>
</message>
<message name="GetHttpSoapRzpAnswer">
<part name="Answer" element="ans:Ares_odpovedi"/>
</message>
<message name="GetHttpGetRzpRequest">
<part name="ico" type="udt:ico"/>
<part name="rozsah" type="dtt:rozsah"/>
<part name="xml" type="dtt:vystup_format_xml"/>
<part name="jazyk" type="dtt:jazyk_odkazu"/>
<part name="ver" type="xsd:string"/>					
</message>
<message name="GetHttpGetRzpAnswer">
<part name="Answer" element="ans:Ares_odpovedi"/>
</message>
<message name="GetHttpRzpFault">
<part name="Fault" element="ans:Ares_odpovedi"/>
</message>
<portType name="HttpSoapRzp">
<operation name="GetXmlFile">
<documentation>Request/response operace pro získání xml výpisu z RŽP přes HTTP ve formátu SOAP</documentation>
<input name="RzpRequest" message="wsdlns:GetHttpSoapRzpRequest"/>
<output name="RzpAnswer" message="wsdlns:GetHttpSoapRzpAnswer"/>
<fault name="RzpFault" message="wsdlns:GetHttpRzpFault"/>
</operation>
</portType>
<portType name="HttpGetRzp">
<operation name="GetXmlFile">
<input name="RzpRequest" message="wsdlns:GetHttpGetRzpRequest"/>
<output name="RzpAnswer" message="wsdlns:GetHttpGetRzpAnswer"/>
<fault name="RzpFault" message="wsdlns:GetHttpRzpFault"/>
</operation>
</portType>
<binding name="HttpSoapRzpBinding" type="wsdlns:HttpSoapRzp">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="GetXmlFile">
<soap:operation soapAction="" style="document"/>
<input name="RzpRequest">
<soap:body use="literal"/>
</input>
<output name="RzpAnswer">
<soap:body use="literal"/>
</output>
<fault name="RzpFault">
<soap:fault name ="RzpFault" use="literal"/>
</fault>
</operation>
</binding>
<binding name="HttpGetRzpBinding" type="wsdlns:HttpGetRzp">
<http:binding verb="GET"/>
<operation name="GetXmlFile">
<http:operation location="/darv_rzp.cgi"/>
<input name="RzpRequest">
<http:urlEncoded/>
</input>
<output name="RzpAnswer">
<mime:mimeXml part="Answer"/>
</output>
<fault name="RzpFault">
<mime:mimeXml part="Fault"/>
</fault>
</operation>
</binding>
<service name="RzpService">
<documentation>Služba poskytuje XML výpis RŽP</documentation>
<port name="RzpHttpSoapPort" binding="wsdlns:HttpSoapRzpBinding">
<documentation>Port pro Http Soap rozhraní služby RzpService</documentation>
<soap:address location="http://wwwinfo.mfcr.cz/cgi-bin/ares/xar.cgi"/>
</port>
<port name="RzpHttpGetPort" binding="wsdlns:HttpGetRzpBinding">
<documentation>Port pro Http Get rozhraní služby RzpService</documentation>
<http:address location="http://wwwinfo.mfcr.cz/cgi-bin/ares"/>
</port>
</service>
</definitions>
